<h1>SHOW</h1>
<p><%= @list.name %> ID: <%= @list.id %></p>

<% @list.bookmarks.each do |bookmark| %>
  <p><%= bookmark.movie.title %></p>
  <p><%= bookmark.movie.overview %></p>
  <%= image_tag bookmark.movie.poster_url, alt: "Movie poster", width: 300 %>
  <p><%= bookmark.movie.rating %></p>
<% end %>
